@import '../../styles/partials/variables';
@import '../../styles/partials/mediaQueries';

.loader-cont{
  color: $white-clr;
}

.loader-dice{
  animation: roll 3s infinite;
  background: $white-clr;
  border-radius: 5px;
  height:  50px;
  width: 50px;
}

@keyframes roll{
  0%{ transform: translateX(-200%) rotate(0deg); }
  25%{ transform: translateX(-100%) rotate(90deg); }
  50%{ transform: translateX(0) rotate(180deg); }
  75%{ transform: translateX(100%)rotate(270deg); }
  100%{ transform: translateX(200%) rotate(360deg); }
}
