.inp-file-cont{
  border: 1px solid #BBB;
  padding: 10px 10px 10px 15px;

  &.file-dragover{
    background: rgba(0, 0, 0, 0.3);
  }
}

.inp-file-text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
