@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.chat-opt-btn:hover .chat-opt-sender{
  display: block;
}

.chat-opt-sender{
  background: $secondary-clr;
  border: 0;
  border-right: 1px solid $black-clr;
  bottom: 0;
  color: $white-clr;
  display: none;
  line-height: 30px;
  right: 100%;
  width: 200px;
  z-index: 100;
}

.chat-opt-subtitle{
  line-height: 0;
}
