@import '../../../../../../../../styles/partials/mediaQueries';
@import '../../../../../../../../styles/partials/variables';

.place-char-balloon{
  background: $tertiary-clr;
  top: calc(100% + 15px);
  color: $white-clr;
  display: none;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 250px;
  z-index: 100;

  &.is-active{
    display: block;
  }

  &::before{
    border: 15px solid transparent;
    border-bottom: 15px solid $tertiary-clr;
    content: "";
    left: 11px;
    position: absolute;
    bottom: 100%;
  }
}
