@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.image-modal-toolbar {
  background: $black-clr;
  color: $white-clr;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
}

.modal-img-cont{
  background: rgba(0, 0, 0, 0.9);
  height: calc(100% - 56.89px);
  padding: 20px;
  position: relative;
  text-align: center;
  top: 56.89px;
}

.modal-img {
  max-width: 90%;
  max-height: 90%;
}