@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.lobby-cont{
  align-items: center;
  color: $white-clr;
  display: flex;
  justify-content: center;
}

.lobby-inp-cont{
  background: #303030;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 15px;
}

.lobby-inp-label{
  font-size: $font-size-lg;

  @include md{
    font-size: $font-size-xl;
  }
}
