// Colors
$primary-clr:   #191919;
$secondary-clr: #2F2F2F;
$tertiary-clr:  #464646;
$hot-clr:       #047DE5;
$disabled-clr:  #555;
$black-clr:     #000;
$white-clr:     #FFF;

// Font size
$font-size-xxl: 32px;
$font-size-xl:  24px;
$font-size-lg:  20px;
$font-size-md:  16px;
$font-size-sm:  12px;
$font-size-xs:  10px;
$font-size-xxs: 8px;
