@import '../../../../../styles/partials/variables';
@import '../../../../../styles/partials/mediaQueries';

// HELP BALLOON
.dice-help-balloon{
  background: $tertiary-clr;
  bottom: calc(100% + 15px);
  color: $white-clr;
  padding: 15px;
  position: absolute;
  width: 200px;
  z-index: 100;

  &::before{
    border: 15px solid transparent;
    border-top: 15px solid $tertiary-clr;
    content: "";
    position: absolute;
    top: 100%;
  }
}

.dice-setting{
  line-height: 30px;
}

.dice-sel{
  height: 30px;
  margin: 0 5px;
  width: 50px;
}
