@import '../../../../../../../styles/partials/mediaQueries';
@import '../../../../../../../styles/partials/variables';

.map-char{
  animation: shadow-pulse 5s infinite;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: block;
  height: 25px;
  position: absolute;
  width: 25px;
  z-index: 60;

  @include md{
    display: none;
  }

  &:hover .map-char-balloon{
    display: block;
  }

  &:active .map-char-balloon{
    display: none;
  }
}

.map-char-profile{
  animation: shadow-pulse 5s infinite;
  background-color: $white-clr;
  background-image: url('../../../../../../../styles/images/user_icon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: none;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 60;

  @include md{
    display: block;
  }

  &:hover .map-char-balloon{
    display: block;
  }

  &:active .map-char-balloon{
    display: none;
  }
}

@keyframes shadow-pulse{
  0%{ box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2); }
  20%, 100% { box-shadow: 0 0 0 15px rgba(0, 0, 0, 0); }
}

.map-char-balloon{
  background: rgba(0, 0, 0, 0.3);
  bottom: calc(100% + 8px);
  color: $white-clr;
  display: none;
  width: 100px;

  &:before{
    border: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.3);
    content: "";
    position: absolute;
    top: 100%;
  }
}
