// This file contains all global stylings
// Styles specific to components will be written under each component folder

// IMPORTS
  @import './partials/variables';
  @import './partials/fonts';
  @import './partials/mediaQueries';

// Box sizing
  *,
  *::after,
  *::before{
    box-sizing: inherit;
    font-family: "ColabThin";
  }

  html{
    box-sizing: border-box;
  }

// Height
  html,
  body{
    height: 100%;
  }

// REACT ROOT ELEMENT
  #root{
    height: 100%;
  }

// Background
  body {
    background: $primary-clr;
  }

// GENERAL CLASSES (BOOTSTRAP-LIKE)
  // Width
    .w-100{
      width: 100%;
    }

  // Height
    .h-100{
      height: 100%;
    }

  // Font Size
    .font-size-xxl{
      font-size: $font-size-xxl;
    }

    .font-size-xl{
      font-size: $font-size-xl;
    }

    .font-size-lg{
      font-size: $font-size-lg;
    }

    .font-size-md{
      font-size: $font-size-md;
    }

    .font-size-sm{
      font-size: $font-size-sm;
    }

    .font-size-xs{
      font-size: $font-size-xs;
    }

    .font-size-xxs{
      font-size: $font-size-xxs;
    }


  // Text Align
    .align-center{
      text-align: center;
    }

    .align-right{
      text-align: right;
    }

    .align-left{
      text-align: left;
    }

  // Font Weight
    .font-weight-bold{
      font-weight: bold;
    }

  // Text Decoration
    .text-dec-underline{
      text-decoration: underline;
    }

  // Padding
    .p-1{
      padding: 5px;
    }

    .p-2{
      padding: 10px;
    }

    .p-3{
      padding: 15px;
    }

    .pb-1{
      padding-bottom: 5px;
    }

    .pb-2{
      padding-bottom: 10px;
    }

    .pb-3{
      padding-bottom: 15px;
    }

    .pr-1{
      padding-right: 5px;
    }

    .pr-2{
      padding-right: 10px;
    }

    .pr-3{
      padding-right: 15px;
    }

    .pl-1{
      padding-left: 5px;
    }

    .pl-2{
      padding-left: 10px;
    }

    .pl-3{
      padding-left: 15px;
    }

  // margin
    .mt-1{
      margin-top: 5px;
    }

    .mt-2{
      margin-top: 10px;
    }

    .mt-3{
      margin-top: 15px;
    }

    .mb-1{
      margin-bottom: 5px;
    }

    .mb-2{
      margin-bottom: 10px;
    }

    .mb-3{
      margin-bottom: 15px;
    }

    .ml-1{
      margin-left: 5px;
    }

    .ml-2{
      margin-left: 10px;
    }

    .ml-3{
      margin-left: 15px;
    }

  // Flex
    .d-flex{
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
    }

    .f-grow-1{
      flex-grow: 1;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
    }

    .f-dir-col{
      flex-direction: column;
    }

    .justify-content-around{
      justify-content: space-around;
    }

    .justify-content-between{
      justify-content: space-between;
    }

    .f-align-self-end{
      align-self: flex-end;
    }

  // Cursor
    .cursor-pointer{
      cursor: pointer;
    }

  // Input
    .inp{
      border: 1px solid $black-clr;
      border-radius: 0;
      height: 40px;
      line-height: 30px;
      padding: 5px;
    }

  // Button styling
    .btn{
      border: none;
      display: flex;
      font-size: $font-size-lg;
      margin-top: 5px;
      padding: 15px 10px;

      &[disabled]{
        background: #555;
      }
    }

    .btn-hot{
      background: $hot-clr;
      color: $white-clr;
    }

    .btn-danger{
      background: $danger-clr;
      color: $white-clr;
    }

    .btn-text{
      flex-grow: 1;
    }

  // Display None for smartphone screens
    .d-none-sm{
      display: none;

      @include md{
        display: inline;
      }
    }
