// This file contains all global stylings
// Styles specific to components will be written under each component folder

// IMPORTS
  @import './partials/variables';
  @import './partials/fonts';
  @import './partials/mediaQueries';

// Box sizing
  *,
  *::after,
  *::before{
    box-sizing: inherit;
    font-family: "ColabThin";
  }

  html{
    box-sizing: border-box;
  }

// Height
  html,
  body{
    height: 100%;
  }

// REACT ROOT ELEMENT
  #root{
    height: 100%;
  }

// Background
  body {
    background: $primary-clr;
  }

// GENERAL CLASSES (BOOTSTRAP-LIKE)
  // Width
    .w-100{
      width: 100%;
    }

  // Height
    .h-100{
      height: 100%;
    }

  // Text Align
    .align-center{
      text-align: center;
    }

    .align-right{
      text-align: right;
    }

    .align-left{
      text-align: left;
    }

  // Font Weight
    .font-weight-bold{
      font-weight: bold;
    }

  // Text Decoration
    .text-dec-underline{
      text-decoration: underline;
    }

  // Flex
    .d-flex{
      display: flex;
    }

    .f-grow-1{
      flex-grow: 1;
    }

  // Cursor
    .cursor-pointer{
      cursor: pointer;
    }

  // Button styling
    .btn{
      border: none;
      display: flex;
      font-size: $font-size-lg;
      margin-top: 5px;
      padding: 15px 10px;
    }

    .btn-hot{
      background: $hot-clr;
      color: $white-clr;
    }

    .btn-text{
      flex-grow: 1;
    }

  // Display None for smartphone screens
    .d-none-sm{
      display: none;

      @include md{
        display: inline;
      }
    }
