@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.list-tool-bar{
  color: $white-clr;
  height: 25px;
  font-size: $font-size-lg;
}

.char-list-label{
  color: $white-clr;
}

.char-cont{
  color: $primary-clr;
  font-size: $font-size-lg;
  margin-bottom: 5px;
  padding: 5px;
}

.empty-cont{
  border: 5px dashed $disabled-clr;
  color: $disabled-clr;
}
