@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.list-tool-bar{
  color: $white-clr;
  height: 25px;
  font-size: $font-size-lg;
}

.char-list-label{
  color: $white-clr;
}

.new-char-btn{
  margin-right: 1px;
}
