@import '../../../../../../../styles/partials/variables';
@import '../../../../../../../styles/partials/mediaQueries';


.char-cont{
  color: $primary-clr;
  font-size: $font-size-lg;
  margin-bottom: 5px;
  user-select: none;
}

.empty-cont{
  border: 5px dashed $disabled-clr;
  color: $disabled-clr;
}

.char-data-cont{
  overflow: hidden;
}

.char-data{
  margin-bottom: 5px;
  white-space: pre-line;
  word-break: break-all;
}

.char-owner{
  color: $disabled-clr;
}

.char-btn{
  flex-basis: 30px;
}

.char-profile-circle{
  border: none;
  border-radius: 50%;
  background-image: url('../../../../../../../styles/images/user_icon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  flex-basis: 100px;
  z-index: 90;
}
