@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.notes-textarea{
  border: 1px solid black;
  border-radius: 0;
  flex-grow: 1;
  resize: none;
}

.notes-btn{
  border: none;
  flex-basis: 35%;
}
