@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.notes-textarea{
  border: 1px solid black;
  border-radius: 0;
  flex-grow: 1;
  resize: none;
  //
  // @include md{
  //   flex-basis: 500px;
  // }
  //
  // @include lg{
  //   flex-basis: 600px;
  // }
  //
  // @include xl{
  //   flex-basis: 700px;
  // }
}

.notes-btn{
  border: none;
  flex-basis: 35%;
}
