@import '../../styles/partials/variables';
@import '../../styles/partials/mediaQueries';

.modal-background{
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.is-active{
    display: flex;
  }
}

.modal-cont{
  background: $white-clr;
  border: none;
  height: 90%;
  width: 90%;
  overflow: hidden;
  padding: 15px 20px;

  @include md{
    height: auto;
    width:  auto;
    max-height: 90%;
    max-width: 90%;
  }
}

.stat-inp{
  width: 100px;
}
