@import '../../styles/partials/variables';
@import '../../styles/partials/mediaQueries';

.modal-background{
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.is-active{
    display: flex;
  }
}

.modal-cont{
  background: $white-clr;
  border: none;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 10px;

  @include md{
    max-height: 500px;
    max-width: 500px;

    &.modal-sm{
      max-height: 300px;
      max-width: 300px;
    }

    &.modal-lg{
      max-height: 750px;
      max-width: 750px;
    }
  }


}

.stat-inp{
  width: 100px;
}

.char-sel{
  border: 1px solid black;
  height: 40px;

  &:after{
    top: 30%;
  }
}

.char-tab-cont{
  border-bottom: 1px solid $tertiary-clr;
  flex-basis: 40px;
}

.char-tab{
  background: $white-clr;
  color: $disabled-clr;

  &.is-active{
    border: 1px solid $tertiary-clr;
    border-bottom: none;
    color: $black-clr;
    font-weight: bold;
    margin-bottom: -1px;
  }
}

.status-close{
  flex-basis: 30px;
}

.char-modal{
  display: none;
  flex-basis: 1px;
  overflow-y: scroll;

  &.is-active{
    display: block;
  }

  &.hide-scroll{
    padding-right: 30px;
    width: calc(100% + 40px);
  }
}

.stat-inp-cont{
  line-height: 40px;
}

.stat-label{
  flex-basis: 60px;
}

.profile-circle{
  border: 5px solid $disabled-clr;
  border-radius: 50%;
  background-image: url('../../styles/images/user_icon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  z-index: 90;
}

.profile-side-btn{
  background: $disabled-clr;
  border: none;
  border-radius: 50%;
  bottom: -5px;
  color: $white-clr;
  height: 30px;
  line-height: 30px;
  right: -5px;
  width: 30px;
  z-index: 100;
}

.profile-remove-btn{
  background: $disabled-clr;
  border: none;
  border-radius: 50%;
  bottom: 0;
  color: $white-clr;
  height: 30px;
  line-height: 30px;
  left: 0;
  width: 30px;
  z-index: 100;
}

.char-inp-label{
  line-height: 40px;
}

.char-inp-radio{
  line-height: 40px;
}

.char-inp-link-label{
  height: 40px;
}

.notes-textarea{
  border: 1px solid black;
  border-radius: 0;
  flex-grow: 1;
  resize: none;
}

.notes-btn{
  border: none;
  border-radius: 3px;
  flex-basis: 35%;

  &[disabled]{
    background: $disabled-clr;
    color: $white-clr;
  }
}
