@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-toolbar{
  background: $secondary-clr;
  border: 1px solid $black-clr;
  color: $white-clr;
  left: 15px;
  z-index: 65;
}

.map-toolbar > div{
  border-right: 1px solid $black-clr;
}

// .map-toolbar-btn-cont{
//   position: relative;
// }

.map-toolbar-btn{
  flex-basis: 45px;
  font-size: $font-size-lg;
}

.balloon-sel{
  height: 30px;

  &:after{
    top: 10px;
  }
}
