@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-toolbar{
  background: $secondary-clr;
  top: 25px;
  color: $white-clr;
  left: 15px;
  position: absolute;
  z-index: 65;
}

.map-toolbar-btn-cont{
  position: relative;
}

.map-toolbar-btn{
  width: 50px;
  font-size: $font-size-lg;

  &:hover{
    background: rgba(255, 255, 255, 0.1);;
  }
}

.balloon-sel{
  height: 30px;

  &:after{
    top: 10px;
  }
}
