@import '../../../../../../../styles/partials/variables';
@import '../../../../../../../styles/partials/mediaQueries';

.note-cont{
  background: $white-clr;
  color: $primary-clr;
  margin-bottom: 5px;
}

.note-body{
  height: 75px;
  overflow: hidden;

  &.is-expand{
    height: auto;
    min-height: 75px;
  }
}

.note-text-cont{
  overflow: hidden;
}

.note-btn{
  flex-basis: 30px;
}

.note-shrink-btn{
  background: #CCC;
}
