@import '../../../../../../../styles/partials/variables';
@import '../../../../../../../styles/partials/mediaQueries';

.note-cont{
  background: $white-clr;
  color: $primary-clr;
  margin-bottom: 5px;
  user-select: none;

  &.note-selected{
    background: #ddd;
    z-index: 100;
  }
}

.note-body{
  height: 100px;
  overflow: hidden;

  &.is-expand{
    height: auto;
    min-height: 100px;
  }
}

.note-text-cont{
  overflow: hidden;
}

.note-text{
  white-space: pre-line;

  p{
    margin: 0;
  }
}

.note-btn{
  flex-basis: 30px;
}

.note-shrink-btn{
  background: #CCC;
}

.drag-handle{
  color: #AAA;
}
