@import '../../styles/partials/variables';
@import '../../styles/partials/mediaQueries';

header{
  background: $black-clr;
  color: $white-clr;
  display: flex;
  font-size: $font-size-xxl;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
}

.header-title{
  text-align: center;
  flex-grow: 1;
}

.header-lang{
  position: relative;

  &:hover{
    background: $tertiary-clr;

    .lang-list-cont{
      display: block;
    }
  }
}

.lang-list-cont{
  background: $tertiary-clr;
  display: none;
  padding: 3px 5px;
  position: absolute;
  right: 0;
  z-index: 100;
}

.lang-cont{
  width: 125px;
}

.lang-check{
  display: inline-block;
  width: 30px;
}
