@import '../../../../../styles/partials/variables';
@import '../../../../../styles/partials/mediaQueries';

.chat-opt-toolbar{
  background: $secondary-clr;
  border: none;
  border-radius: 0;
  bottom: 100%;
  color: $white-clr;
  display: none;
  right: 0;
  z-index: 125;
}

.chat-bar-btn:hover .chat-opt-toolbar{
  display: block;
}

.chat-opt-btn{
  height: 50px;
  padding: 5px;
  position: relative;
  width: 50px;
}
