@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mediaQueries';

.user-cont{
  font-size: $font-size-lg;
}

.user-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-stat{
  flex-basis: 40px;
}

.user-btn{
  flex-basis: 30px;
}
