@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.room-cont{
  display: flex;
  flex-direction: column;
}


// TOP CONTAINER
  .tool-bar{
    background: $secondary-clr;
    color: $white-clr;
    display: flex;
    font-size: $font-size-xl;
    height: 45px;
    padding: 10px;
  }

  .room-id{
    flex-grow: 1;
  }

  .tool-bar-btn{
    padding: 0 5px;
  }

// CENTER CONTAINER
  .room-center-cont{
    align-items: stretch;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
  }

  .char-list-cont{
    background: $secondary-clr;
    width: 300px;
  }

  .chat-log-cont{
    color: $white-clr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 10px;

    @include lg{
      padding: 5px 30px;
    }
  }

  .chat-log{
    margin-bottom: 10px;
  }

  .chat-log-user{
    font-size: $font-size-lg;
    font-weight: bold;
    padding-right: 10px;
  }


// BOTTOM CONTAINER
  .chat-cont{
    background: $secondary-clr;
    color: $white-clr;
    display: flex;
    font-size: $font-size-xl;
    height: 45px;
  }

  .chat-bar-btn{
    line-height: 45px;
    padding: 0 10px;
  }

  .chat-inp{
    background: #464646;
    border: none;
    border-radius: 0;
    color: $white-clr;
    flex-grow: 1;
    line-height: 45px;
    padding: 0 10px;
    resize: none;
  }
