@import '../../../styles/partials/variables';
@import '../../../styles/partials/mediaQueries';

.room-cont{
  display: flex;
  flex-direction: column;
}


// TOP CONTAINER
  .tool-bar{
    background: $secondary-clr;
    color: $white-clr;
    font-size: $font-size-xl;
    height: 45px;
    padding: 10px;
  }

  .room-id{
    flex-grow: 1;
  }

  .tool-bar-btn{
    padding: 0 5px;
  }

// CENTER CONTAINER
  .room-center-cont{
    align-items: stretch;
    overflow: hidden;
    position: relative;
  }

  .char-list-cont{
    background: $secondary-clr;
    border-top: 1px solid $primary-clr;
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: width 0.3s;
    width: 0;

    @include md{
      position: static;
    }

    &.is-active{
      padding: 5px;
      width: 100%;

      @include md{
        width: 400px;
      }
    }
  }

  .char-list-tool-bar{
    color: $white-clr;
    height: 25px;
    font-size: $font-size-lg;
    margin-bottom: 5px;
  }

  .char-list{
    height: calc(100% - 25px);
    padding: 5px;
    overflow-y: scroll;
  }

  .char-cont{
    background: $white-clr;
    border: 1px solid white;
    color: $primary-clr;
    font-size: $font-size-lg;
    margin-bottom: 5px;
    padding: 5px;
  }

  .char-head{
    margin-bottom: 5px;
  }

  .chat-log-cont{
    color: $white-clr;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 5px 10px;

    @include lg{
      padding: 5px 30px;
    }
  }

  .chat-log{
    margin-bottom: 10px;
  }

  .chat-log-user{
    font-size: $font-size-lg;
    font-weight: bold;
    padding-right: 10px;
  }


// BOTTOM CONTAINER
  .chat-cont{
    background: $secondary-clr;
    color: $white-clr;
    display: flex;
    font-size: $font-size-xl;
    height: 45px;
  }

  .chat-bar-btn{
    line-height: 45px;
    padding: 0 10px;
  }

  .chat-inp{
    background: $tertiary-clr;
    border: none;
    border-radius: 0;
    color: $white-clr;
    flex-grow: 1;
    line-height: 45px;
    padding: 0 10px;
    resize: none;
  }


// HELP BALLOON
  .dice-help-balloon{
    background: $tertiary-clr;
    bottom: 60px;
    color: $white-clr;
    display: none;
    left: 30px;
    padding: 15px;
    position: absolute;
    z-index: 100;

    &.is-active{
      display: block;
    }

    &::before{
      border: 15px solid transparent;
      border-top: 15px solid $tertiary-clr;
      content: "";
      left: 15%;
      position: absolute;
      top: 100%;
    }
  }

  .dice-setting{
    line-height: 30px;
  }

  // SELECT
    .sel-cont{
      display: inline-block;
      height: 30px;
      margin: 0 5px;
      overflow: hidden;
      position: relative;
      width: 50px;

      &::after{
        bottom: 0;
        color: #000;
        content: '\25BC';
        font-size: 10px;
        padding: 0 3px;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
      }

      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        background: #FFF;
        border: none;
        border-radius: 0;
        height: 100%;
        left: 0;
        outline: none;
        padding: 3px;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
