@import '../../../../../../../styles/partials/mediaQueries';
@import '../../../../../../../styles/partials/variables';

$corner-size:   20px;
$corner-offset: -10px;

.map-geo-cont{
  background: $disabled-clr;
  background-image: url("../../../../../../../styles/images/geo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid $black-clr;
  position: absolute;
  z-index: 59;

  &.is-editable {
    background: rgba(0, 0, 0, 0.7);
    background-image: none;
    cursor: move;

    .map-geo-corner{
      border: 2px solid $hot-clr;
      display: block;
    }
  }

  &.is-selected {
    border: 3px solid $hot-clr;
    z-index: 100;

    .map-geo-toolbar{
      display: flex;
    }
  }
}

.map-geo-corner{
  background: #EEE;
  border: 2px solid $black-clr;
  border-radius: 50%;
  display: none;
  height: $corner-size;
  position: absolute;
  width: $corner-size;
}

.map-geo-corner-top-left{
  cursor: nwse-resize;
  top:   $corner-offset;
  left:  $corner-offset;
}

.map-geo-corner-top-right{
  cursor: nesw-resize;
  top:    $corner-offset;
  right:  $corner-offset;
}

.map-geo-corner-bottom-left{
  bottom: $corner-offset;
  cursor: nesw-resize;
  left:   $corner-offset;
}

.map-geo-corner-bottom-right{
  bottom: $corner-offset;
  cursor: nwse-resize;
  right:  $corner-offset;
}

.map-geo-toolbar{
  background: rgba(0, 0, 0, 0.7);
  color: $white-clr;
  display: none;
  flex-direction: column;
  font-size: $font-size-lg;
  position: absolute;
  right: -45px;
  text-align: center;
}
