@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mediaQueries';

.chat-cont{
  background: $secondary-clr;
  color: $white-clr;
  display: flex;
  font-size: $font-size-xl;
  height: 45px;
}

.chat-bar-btn{
  border: none;
  border-radius: 0;
  flex-basis: 50px;
  line-height: 44px;
  padding: 0 10px;

  &[disabled]{
    background: #555;
  }
}

.chat-inp{
  background: $tertiary-clr;
  border: none;
  border-radius: 0;
  color: $white-clr;
  flex-grow: 1;
  line-height: 45px;
  padding: 0 10px;
  resize: none;
}
