@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mediaQueries';

.chat-cont{
  background: $secondary-clr;
  color: $white-clr;
  display: flex;
  font-size: $font-size-xl;
  height: 45px;
}

.chat-bar-btn{
  border: none;
  border-radius: 0;
  line-height: 44px;
  padding: 0 10px;
  position: relative;
  width: 50px;

  &[disabled]{
    background: #555;
  }
}

.chat-inp-cont{
  background: $tertiary-clr;
  border: none;
  border-radius: 0;
  line-height: 45px;
}

.chat-inp{
  background: $tertiary-clr;
  border: none;
  border-radius: 0;
  color: $white-clr;
  line-height: 40px;
  resize: none;
}

.private-chat-btn{
  background: $tertiary-clr;
  border: none;
  border-radius: 0;
  line-height: 44px;
  padding: 0 10px;
  flex-basis: 50px;

  &:hover .private-chat-balloon{
    display: block;
  }
}

.private-chat-balloon{
  background: $tertiary-clr;
  border-bottom: 1px solid $black-clr;
  bottom: 100%;
  color: $white-clr;
  display: none;
  left: 0;
  width: 200px;
  z-index: 100;
}

.private-chat-user:nth-child(3){
  border-top: 1px solid #ccc;
}
