@import '../../../../../styles/partials/variables';
@import '../../../../../styles/partials/mediaQueries';

// // SIDE BAR(NO ANIMATION)
// .list-cont{
//   background: $secondary-clr;
//   border-bottom: 1px solid $primary-clr;
//   border-top: 1px solid $primary-clr;
//   height: 100%;
//   overflow: hidden;
//   position: absolute;
//   width: 0;
//   z-index: 70;
//
//   @include md{
//     height: auto;
//     position: static;
//   }
//
//   &.is-active{
//     width: 100%;
//
//     @include md{
//       width: 350px;
//     }
//   }
// }

// SIDE BAR (WITH SLIDEIN ANIMATION)
.list-cont{
  background: $secondary-clr;
  border-bottom: 1px solid $primary-clr;
  border-top: 1px solid $primary-clr;
  height: 100%;
  left: -100%;
  overflow: hidden;
  position: absolute;
  transition: left 0.3s;
  width: 100%;
  z-index: 70;

  & + div{
    transition: margin-left 0.3s;
  }

  @include md{
    left: -350px;
    position: absolute;
    width: 350px;
  }

  &.is-active{
    left: 0;

    & + div{
      @include md{
        margin-left: 350px;
      }
    }
  }
}

.list-tab{
  background: $tertiary-clr;
  color: #888;
  flex-basis: 50%;

  &.is-active{
    background: $secondary-clr;
    color: $white-clr;
  }
}

.sidebar-body{
  overflow-y: scroll;

  &.hide-scroll{
    width: calc(100% + 22px);
    padding-right: 15px;
  }
}
