@import '../../../../../styles/partials/variables';
@import '../../../../../styles/partials/mediaQueries';

.list-cont{
  background: $secondary-clr;
  border-bottom: 1px solid $primary-clr;
  border-top: 1px solid $primary-clr;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  width: 0;
  z-index: 70;

  @include md{
    height: auto;
    position: static;
  }

  &.is-active{
    width: 100%;

    @include md{
      width: 250px;
    }

    @include lg{
      width: 350px;
    }
  }
}

.list-tab{
  background: $tertiary-clr;
  color: #888;
  flex-basis: 50%;

  &.is-active{
    background: $secondary-clr;
    color: $white-clr;
  }
}
