@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-tab-cont{
  background: $black-clr;
  border: 1px solid $black-clr;
  border-bottom: 1px solid $secondary-clr;
  color: $white-clr;
  flex-basis: 35px;
  overflow: hidden;
  width: 100%;
  z-index: 100;
}

.map-tab-wrap{
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 100;

  &.hide-scroll{
    height: 60px;
  }
}

.map-tab-new{
  background: $secondary-clr;
  border-right: 1px solid $black-clr;
  flex-basis: 46px;
  font-size: $font-size-lg;
  height: 35px;
  vertical-align: top;
  z-index: 100;
}

.map-tab{
  background: $black-clr;
  border-right: 1px solid $secondary-clr;
  height: 35px;
  line-height: 25px;
  vertical-align: top;
  width: 175px;
  z-index: 100;

  &.is-active{
    background: $secondary-clr;
  }
}
