@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-tab-cont{
  background: $black-clr;
  border: 1px solid $black-clr;
  border-bottom: 1px solid $secondary-clr;
  color: $white-clr;
  flex-basis: 35px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 70;
}

.map-tab-wrap{
  -ms-overflow-style: none;
  overflow-x: scroll;
  scrollbar-width: none;
  white-space: nowrap;

  &::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
}

.map-tab-new{
  border-right: 1px solid $black-clr;
  flex-basis: 46px;
  font-size: $font-size-lg;
  height: 35px;
  vertical-align: top;
}

.map-tab-scroll{
  background: $disabled-clr;
  border-right: 1px solid $black-clr;
  flex-basis: 20px;
  font-size: $font-size-lg;
  height: 35px;
  vertical-align: top;
}

.map-tab{
  background: $tertiary-clr;
  border-right: 1px solid $secondary-clr;
  color: #888;
  line-height: 25px;
  vertical-align: top;
  width: 175px;

  &.is-active{
    background: $secondary-clr;
    border-bottom: 3px solid $hot-clr;
    color: $white-clr;
  }
}

.map-tab-btn:hover{
  color: $white-clr;
}
