@import '../../../../../styles/partials/variables';
@import '../../../../../styles/partials/mediaQueries';

.map-cont{
  background: $black-clr;
  color: $white-clr;
  overflow: hidden;
  position: relative;
}
