@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-img-cont{
  overflow: scroll;
  z-index: 50;
}

.map-char{
  background: #F00;
  border: 3px solid #FFF;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
  z-index: 55;
}

.map-img-overlay.is-active{
  &::before{
    background: rgba(0, 0, 0, 0.5);
    content: "Click to place Character";
    color: $white-clr;
    height: 100%;
    padding-top: 50%;
    position: absolute;
    width: 100%;
    z-index: 65;
  }
}
