@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-img-cont{
  overflow: scroll;
  z-index: 50;
}

.map-char{
  // background: #F00;
  border: 3px solid #FFF;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  width: 25px;
  z-index: 60;
}

.map-img-overlay{
  &.is-place-char-active::before{
    background: rgba(0, 0, 0, 0.5);
    content: "Click to place Character";
    color: $white-clr;
    height: 100%;
    padding-top: 50%;
    position: absolute;
    width: 100%;
    z-index: 65;
  }

  &.is-grid-active::after{
    background-image:
      linear-gradient(
        transparent 95%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.6)),
      linear-gradient(
        90deg, transparent 95%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.6)
      );
    background-size: 20px 20px;
    background-repeat: repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 55;
  }
}
