@import '../../../../../../styles/partials/variables';
@import '../../../../../../styles/partials/mediaQueries';

.map-img-cont{
  overflow: scroll;
  padding-top: 100px;
  z-index: 50;
}

.map-img-overlay{
  tap-highlight-color: rgba(0,0,0,0);

  &.is-place-char-active::before{
    background: rgba(0, 0, 0, 0.5);
    content: "Click to place Character";
    color: $white-clr;
    height: 100%;
    padding-top: 50%;
    position: absolute;
    width: 100%;
    z-index: 65;
  }

  &.is-grid-active::after{
    background-image:
      linear-gradient(
        transparent 95%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.6)),
      linear-gradient(
        90deg, transparent 95%,
        rgba(255, 255, 255, 0.6) 50%,
        rgba(255, 255, 255, 0.6)
      );
    background-size: 30px 30px;
    background-repeat: repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 55;
  }
}

.map-img{
  pointer-events: none;
  tap-highlight-color: rgba(0,0,0,0);
  touch-callout: none;
  user-select: none;
}
