@import '../../../../styles/partials/variables';
@import '../../../../styles/partials/mediaQueries';

.room-toolbar{
  background: $secondary-clr;
  color: $white-clr;
  font-size: $font-size-xl;
  height: 45px;
}
